.levelHeading,
.dialogHeading {
  user-select: none;

  margin: 0;
  margin-top: 15px;

  color: var(--font-color);
  text-align: center;
}

.levelList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
}

.levelList::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--scroll-bar-color);
  border-radius: 6px;
}

.levelList::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-thumb);
  border-radius: 6px;
}

.levelList::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-track);
}

.levelItem {
  display: inline-block;
  width: 100%;
}

.button {
  cursor: pointer;

  width: 100%;
  padding: 5px;

  color: var(--font-color);

  background-color: var(--button-bg);
  border: 2px solid var(--button-border);
  border-radius: 10px;

  transition: 300ms;

  &:hover {
    filter: brightness(1.1);
  }
}

.soundButton {
  background-image: url('../../assets/volume-on.svg');
} 

.themeButton {
  background-image: url('../../assets/palette.svg');

}

.soundButton,
.themeButton {
  cursor: pointer;

  width: 30px;
  height: 30px;

  background-color: var(--button-bg-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border: 2px solid var(--button-border);
  border-radius: 10px;

  transition: 500ms;

  &:hover {
    filter: brightness(1.1);
  }
}

.soundOff {
  background-image: url('../../assets/volume-off.svg');
}

.menuPanelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  background-color: var(--bg-color);
}
