.dialogHeading {
  user-select: none;
  text-align: center;
}

.levelList {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  margin: 0;
  padding: 10px;
}

.levelItem {
  display: inline-block;
  width: 100%;
}

.button {
  width: 100%;
}

.soundButton {
  width: 30px;
  height: 30px;
  background-image: url('../../assets/volume-on.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: cadetblue;
}

.soundOff {
  background-image: url('../../assets/volume-off.svg');
}
