.scoreTable {
  border-collapse: collapse;
  max-width: 80%;
  max-height: 70%;
  color: var(--font-color);
}

.headerRow {
  height: 30px;
  background-color: var(--game-bg);
}

.tableTH {
  padding: 3px;
  border: 2px solid var(--dialog-border);
}

.tableTD {
  text-align: center;
  border: 2px solid var(--divider-color);
  height: 25px;
}
