.cell {
  cursor: pointer;

  width: 30px;
  height: 30px;

  background-color: white;
  border: 1px solid var(--divider-color);
}

.cell:nth-child(5n) {
  border-right: 2px solid var(--divider-color);
}

.cell:nth-child(5n-4) {
  border-left: 2px solid var(--divider-color);
}

.white {
  background-color: white;
}

.black {
  background-color: var(--cell-color);
}

.cross {
  background-image: url('../../assets/cross-icon.svg');
  background-position: center;
  background-size: contain;
}

@media (width <= 800px) {
  .cell {
    width: 20px;
    height: 20px;
  }
}
