.clue {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.left {
  grid-column: 1/2;
  grid-row: 2/3;

  &.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &.cluesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.top {
  grid-column: 2/3;
  grid-row: 1/2;

  &.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &.cluesWrapper {
    display: flex;
    flex-direction: column;
    width: 30px;
  }
}
