.clue {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  color: var(--font-color);

  background-color: var(--clue-color);
  border: 1px solid var(--clue-border);

  transition: 300ms;
}

.left {
  grid-column: 1/2;
  grid-row: 2/3;

  &.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid var(--game-border);
  }

  &.cluesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-left: 1px solid var(--divider-color);

    &:nth-child(5n) {
      border-bottom: 2px solid var(--divider-color);

      & .clue {
        border-bottom: 0;
      }
    }

    &:nth-child(5n - 4) {
      border-top: 2px solid var(--divider-color);

      & .clue {
        border-top: 0;
      }
    }
  }
}

.top {
  grid-column: 2/3;
  grid-row: 1/2;

  &.container {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--game-border);
    border-bottom: 1px solid var(--divider-color);
  }

  &.cluesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;

    &:nth-child(5n) {
      border-right: 2px solid var(--divider-color);

      & .clue {
        border-right: 0;
      }
    }

    &:nth-child(5n - 4) {
      border-left: 2px solid var(--divider-color);

      & .clue {
        border-left: 0;
      }
    }
  }
}

.container {
  background-color: var(--game-bg);
}

@media (width <= 800px), (height <= 850px) {
  .clue {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}
