.clue {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.left {
  &.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &.cluesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.top {
  &.container {
    display: flex;
    flex-direction: row;
  }

  &.cluesWrapper {
    display: flex;
    flex-direction: column;
    width: 30px;
  }
}
