.header {
  color: var(--text-dark, #403f3d);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  .header-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    height: 60px;
    transition: 300ms;

    &.disabled {
      cursor: default;
    }
  }

  .nav.aside {
    position: fixed;
    padding-top: 67px;
    inset: 95px -100% 0 100%;
    background-color: #e1d4c9;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;

    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/burger-link */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */

    & .nav-ul {
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }

    & .menu-link {
      margin-top: 99px;
      gap: 15px;
      color: var(--text-dark, #403f3d);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;

      /* Desktop/Action/burger-link */
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%; /* 40px */

      & .menu-link-image {
        width: 40px;
      }
    }

    &.active {
      left: 0%;
      right: 0%;
    }
  }

  .nav-ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    display: inline;
  }

  .nav-item-link {
    position: relative;
    color: #403f3d;
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;
    &::after {
      display: block;
      position: absolute;
      content: ' ';
      width: 0%;
      left: 50%;
      height: 2px;
      background-color: rgba(64, 63, 61, 1);
      opacity: 0;
      transition: 500ms;
    }
  }

  .menu-link {
    position: relative;
    color: var(--text-dark, #403f3d);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: start;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
    &::after {
      display: block;
      position: absolute;
      content: ' ';
      width: 0%;
      top: 100%;
      left: 50%;
      height: 2px;
      background-color: rgba(64, 63, 61, 1);
      opacity: 0;
      transition: 500ms;
    }

    &.menu-link.disabled {
      cursor: default;
      &::after {
        width: 100%;
        left: 0%;
        opacity: 1;
        display: block;
        position: absolute;
        content: ' ';
        top: 100%;
        height: 2px;
        background-color: rgba(64, 63, 61, 1);
        transition: 500ms;
      }
    }
  }

  .burger-button {
    position: relative;
    width: 44px;
    height: 44px;
    transition: 500ms;
    border-radius: 50%;
    background-color: transparent;
    border: 1px #665f55 solid;
    transition: 500ms;
    cursor: pointer;
    display: none;

    & span {
      display: block;
      position: absolute;
      height: 2px;
      width: 45%;
      background: #403f3d;
      border-radius: 9px;
      opacity: 1;
      left: calc(55% / 2);
      transition: 500ms;
    }

    & span:nth-child(1) {
      top: 17px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    & span:nth-child(2) {
      top: 24px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    /*     & span:nth-child(3) {
      top: 36px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    } */

    &.active span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 14px;
      left: 14px;
      width: 44%;
    }

    &.active span:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 27px;
      left: 14px;
      width: 44%;
    }
  }
}

@media (max-width: 768px) {
  .header {
    /*     .nav {
      display: none;
    }

    .menu-link {
      display: none;
    }
 */
    .burger-button {
      display: block;
    }
  }
}
