.header {
  color: var(--text-dark, #403f3d);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  .header-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    display: inline;
  }

  .nav-item-link {
    color: #403F3D;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-link {
    color: var(--text-dark, #403f3d);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: start;
    gap: 8px;
    cursor: pointer;
  }
}
