.container {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 1px solid var(--game-border);
}

.row {
  display: flex;
}

.row:nth-child(5n) {
  border-bottom: 1.5px solid var(--divider-color);
}

.row:nth-child(5n - 4) {
  border-top: 1.5px solid var(--divider-color);
}

.disabled {
  pointer-events: none;
}
