body {
  background-color: rgba(225, 212, 201, 1);
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.page-container {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.heading {
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--text-dark, #403f3d);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.cursive {
  color: var(--text-accent, #b0907a);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

/* *, *::after, *::before {
  border: 1px dotted red;
} */

@media (max-width: 690px) {
  .page-container {
    padding: 0 16px;
  }

  .heading {
    font-size: 32px;
  }

  .cursive {
    font-size: 32px;
  }
}

@media (hover: hover) {
  .about-section {
    .img-wrapper:hover .image {
      scale: 1;
    }
  }

  .favorite-section {
    .slider-button:hover {
      background-color: rgba(102, 95, 85, 1);
      color: rgba(225, 212, 201, 1);
    }
  }

  .footer {
    .social-link:hover {
      background-color: #e1d4c9;
      border: 1px solid #e1d4c9;
      & .social-icon {
        filter: brightness(0) saturate(100%) hue-rotate(2deg) invert(22%) sepia(6%) saturate(273%) brightness(97%)
          contrast(88%);
      }
    }
    .contact-link:hover {
      &::after {
        width: calc(100% - 80px);
        left: 0%;
        opacity: 1;
      }
    }
  }

  .header {
    .header-logo:hover {
      cursor: pointer;
      scale: 1.1;
    }

    .nav-item-link:hover {
      &::after {
        width: 100%;
        left: 0%;
        opacity: 1;
      }
    }

    .menu-link:hover {
      &::after {
        width: 100%;
        left: 0%;
        opacity: 1;
      }
    }
  }

  .hero-section {
    .menu-button:hover {
      & .coffee-img {
        width: 52px;
        padding-left: 8px;
      }
    }
  }

  .mobile-section {
    .button-app:hover {
      background-color: rgba(102, 95, 85, 1);
      .available,
      .app-name {
        color: rgba(225, 212, 201, 1);
      }

      .app-icon {
        filter: brightness(0) saturate(100%) hue-rotate(327deg) invert(94%) sepia(9%) saturate(505%) brightness(95%)
          contrast(85%);
      }
    }
  }

  .menu-section {
    .tab:hover {
      background-color: rgba(102, 95, 85, 1);
      color: rgba(225, 212, 201, 1);
      .tab-icon {
        background-color: rgba(225, 212, 201, 1);
      }
    }

    .drink-card:hover .drink-image {
      scale: 1;
    }
  }
}
