.key {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: aliceblue;
  border: 1px blue solid;
  border-radius: 4px;

  transition: 200ms;

  &:hover {
    background-color: rgb(195 227 255);
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 3px;
  justify-content: center;

  max-width: 300px;
}

.disabled {
  cursor: default;
  background-color: rgb(157 169 181);

  &:hover {
    background-color: rgb(157 169 181);
  }
}
