.favorite-section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    text-align: center;
  }

  .slider-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .slider-button {
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    margin: 4px;
    top: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665f55);
    font-size: 19px;
    background-color: transparent;
    transition: 300ms;
    cursor: pointer;
  }

  .drink-card {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 440px;
    overflow: hidden;
  }

  .drink-name {
    margin-top: 21px;
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .drink-info {
    width: 100%;
    margin-top: -9px;
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .drink-price {
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .control {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    appearance: none;

    &::-webkit-progress-bar {
      background-color: #C1B6AD;
    }

    &::-webkit-progress-value {
      background-color: #665f55;
      transition: 300ms;
    }
  }

  .indicator-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .slider-container {
    max-width: 480px;
    width: 100%;
    overflow: hidden;
  }

  .slider-content {
    position: relative;
    right: 0%;
    width: 300%;
    display: flex;
    flex-direction: row;
    transition: 500ms;
  }

  .drink-card {
    width: calc(100% / 3);
    max-width: unset;
  }
}

@media (max-width: 690px) {
  .favorite-section {
    .slider-button {
      display: none;
    }

    .drink-card-img {
      max-height: 348px;
    }

    .slider-wrapper {
      flex-direction: column;
    }
  }
}
