.quizContaier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answerContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  align-items: end;

  height: 35px;
}

.questionLabel {
  text-align: center;
}

.letter {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 0;

  border: 1px solid black;

  transition: 500ms;
}

.open {
  height: 30px;
}

@media (width <= 500px) {
  .letter {
    width: 20px;
    height: 0;
  }

  .open {
    height: 20px;
  }
}
