.hero-section {
  position: relative;
  margin-top: 20px;
  border-radius: 40px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0 0;
    width: 100%;
    z-index: -1;
    border-radius: 40px;
  }

  .bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-heading {
    margin: 0;
    max-width: 600px;
    color: var(--text-light, #e1d4c9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
  }

  .cursive {
    color: var(--text-accent, #b0907a);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    line-height: 105%;
  }

  .hero-info {
    margin-top: 40px;
    max-width: 550px;
    color: var(--text-light, #e1d4c9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .menu-button {
    width: 44px;
    padding: 20px 78px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background: var(--background-body, #e1d4c9);
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-decoration: none;
    transition: 700ms;
  }

  .coffee-img {
    transition: 700ms;
    width: 0px;
  }
}

@media (max-width: 1240px) {
  .hero-section {
    padding: 100px 60px;
  }
}

@media (max-width: 800px) {
  .hero-section {
    .coffee-img {
      width: unset;
      padding-left: 8px;
    }
  }
}

@media (max-width: 690px) {
  .hero-section {
    padding: 62px 16px;
    .hero-heading {
      font-size: 42px;
      line-height: 112%;
    }

    .cursive {
      font-size: 42px;
    }
  }
}
