@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex items-center justify-center;

  height: 100dvh;

  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
